commands:
  01-updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    composer_options: --no-dev --no-interaction --prefer-dist --optimize-autoloader
  "aws:elasticbeanstalk:sqsd":
    HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    COMPOSER_HOME: /root

container_commands:
  00-composer:
    command: "/usr/bin/composer.phar install"
  01-migrate:
    command: "php artisan migrate:fresh"
  02-migrate:
    command: "php artisan migrate"
  03-seed:
    command: "php artisan db:seed"
    ignoreErrors: true
